<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
</head>
<body>
{% if newspost %}
    <table>
    {% for post in newspost %}
        <tr>
        <td>{{ post.id }}</td>
        <td><a href="/NewsPost/Detail/{{ post.id }}">{{ post.title}}</a></td>
        <td>{{ post.content }}</td>
        <td>
            <form action="{% url 'isactivepost' post.id %}" method="post">
    {%  csrf_token %}
    <input type="radio" id="post {{ forloop.counter }}" name="post" value="{{ post.id }}">
    <label for="post {{ forloop.counter }}">
        Is Active
        {% if post.isactive %}
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/446229-200.png" width="50" height="50"/>
        {% endif %}
    </label>
<input type="submit" value="Activated!">
</form>
        </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No post are available.</p>
{% endif %}
</body>
</html>